.jumbotron {
    background-color: lightblue;
    color: black;
    margin-top: 55px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: lightblue;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    /* position: absolute;
    left: 0;
    bottom: 0; */
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    margin-top: 20px;
}