$blue: #32a8a8;
$yellow: #e8df5a;
$rojo: #e8765a;
$verde: #88db8c;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $blue;
    color: white;
    @include margenes(55px, 20px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $blue;
    @include margenes(10px, 0px);
    color: white;
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    /* position: absolute;
    left: 0;
    bottom: 0; */
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    @include margenes(20px, 0px);
}