@blue: #32a8a8;
@yellow: #e8df5a;
@rojo: #e8765a;
@verde: #88db8c;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @blue;
    color: white;
    .margenes(50px, 20px) }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @blue;
    .margenes(10px, 0px);
    color: white; }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px); }
  
  .btn-reserva {
    width: 100%;
    /* position: absolute;
      left: 0;
      bottom: 0; */ }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    margin-top: 20px;
    margin-bottom: 0px; }
  