.jumbotron {
  background-color: #32a8a8;
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #32a8a8;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  /* position: absolute;
      left: 0;
      bottom: 0; */
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  margin-top: 20px;
  margin-bottom: 0px;
}
